.dynamic-list {
  display: flex;
  flex-direction: column;
}

.dynamic-list > .list {
  width: 400px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 10px;
}

.dynamic-list > .list > .list-container {
  display: flex;
  flex-direction: row;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid black;
}

.dynamic-list > .list.focus {
  padding-left: 40px;
}

.dynamic-list > .list.focus + .list {
  padding-left: 20px;
}

/*
	:has() is not supported in most browsers
	check >> https://caniuse.com/?search=%3Ahas()
*/
.dynamic-list > .list:has(+ .focus) {
  padding-left: 20px;
}

.dynamic-list > .list.active {
}

.dynamic-list > .list > .list-container > .sequence-text {
  width: 10%;
}
.dynamic-list > .list > .list-container > .content-text {
  width: 90%;
}
