.list {
  display: flex;
  flex-direction: column;
}

/*
  About default List Style
*/
.list > .list-item {
  width: 400px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) padding;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}
.list > .list-item > .list-item-container {
  display: flex;
  flex-direction: row;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid black;
}

.list > .list-item > .list-item-container > .sequence-text {
  width: 10%;
}
.list > .list-item > .list-item-container > .content-text {
  width: 90%;
}

/*
  About List Event Style
*/
.list > .list-item.focus {
  padding-left: 40px;
}

.list > .list-item.focus + .list-item {
  padding-left: 20px;
}

/*
	:has() is not supported in most browsers
	check >> https://caniuse.com/?search=%3Ahas()
*/
.list > .list-item:has(+ .focus) {
  padding-left: 20px;
}

.list > .list-item.active {
  position: fixed;
  width: 50vw;
  height: 50vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: unset;
  z-index: 2;
  transition: none;
}

.list > .list-item.active + .list-item {
  padding-left: 20px;
}
.list > .list-item:has(+ .active) {
  padding-left: 20px;
  margin-bottom: 63px;
}

.list > .list-item.active > .list-item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.list > .list-item.active > .list-item-container > .sequence-text {
  width: 100%;
  flex-shrink: 0;
}
.list > .list-item.active > .list-item-container > .content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

/*
About List Popup Background Style
*/
.list > .background.on {
  visibility: visible;
  cursor: pointer;
}

.list > .background.off {
  visibility: hidden;
}
