.list {
  display: flex;
  flex-direction: column;
}

/*
  About default List Style
*/
.list > .list-item {
  display: flex;
  flex-direction: row;
  width: 400px;
  border: 1px solid black;
  margin-left: 0;
  margin-bottom: 10px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.list > .list-item > .sequence-text {
  width: 10%;
}
.list > .list-item > .content-text {
  width: 90%;
}

/*
  About List Event Style
*/

.list > .list-item.active {
  position: fixed;
  width: 50vw;
  height: 50vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: unset;
  z-index: 2;
  transition: none;
}

.list > .list-item.active + .list-item {
  margin-left: 20px;
}
/*
	:has() is not supported in most browsers
	check >> https://caniuse.com/?search=%3Ahas()
*/
.list > .list-item:has(+ .active) {
  margin-left: 20px;
  margin-bottom: 63px;
}

.list > .list-item.active {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list > .list-item.active > .sequence-text {
  width: 100%;
  flex-shrink: 0;
}
.list > .list-item.active > .content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
